<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608117107861-oh3s3cbe22aqaflvbe1ke3eb6feu3p25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608117107861-oh3s3cbe22aqaflvbe1ke3eb6feu3p25</string>
	<key>API_KEY</key>
	<string>AIzaSyB3W_8mmJk0WOVgJffQ4eNhHhe4Z6VuAJg</string>
	<key>GCM_SENDER_ID</key>
	<string>608117107861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>halbus.GerenciadorDeTreinos</string>
	<key>PROJECT_ID</key>
	<string>trainingmanager-51acd</string>
	<key>STORAGE_BUCKET</key>
	<string>trainingmanager-51acd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608117107861:ios:85c6312250027be794bf9c</string>
</dict>
</plist>